{% extends 'index.html' %}

{% block content %}

<div class="text-center mt-5">
        <form action="" method="POST">{% csrf_token %}
            {{ formulario.as_p }}
            <input class="form-control btn btn-primary" type="submit" value="Agregar Cliente">
        </form>
        <table>
            <thead>
                <tr>
                    <th>Cliente</th>
                    <th>E-mail</th>
                </tr>
            </thead>
            <tbody>
                {% for cliente in clientes %}
                <tr>
                    <td>{{cliente.apellido}}, {{cliente.nombre}}</td>
                    <td>{{cliente.email}}</td>
                </tr>
                {% endfor %}

                
            </tbody>
        </table>
</div>








{% endblock %}

